body {
  background-color: #EDEDFF;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;

  /*cabeçalho*/
  .cabeçalho {
    width: 100%;
    height: 120px;
    background: #37123C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-sizing: border-box
    ;
  }

  .cabeçalho img {
    height: 50px;
    justify-content: flex-end;
  }

/*barra de pesquisa do cabeçalho*/
  input[type="search"] {
    width: 270px;
    height: 30px;
    border-radius: 15px;
    appearance: none;
    background-color: #D8D8F6;
    border: none;
    display: flex;
    align-items: center;
  }

  .icones img {
    height: 35px;
    justify-content: flex-end;
    gap: 20px;
  }



  /*barra de navegação*/
  .barra_navegacao {
    width: 100%;
    height: 70px;
    background: #194906;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .barra_navegacao ul {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 70px;
  }

  .barra_navegacao li {
    list-style: none;
    margin: 0;
  }

  .barra_navegacao a {
    font-size: 20px;
    color: #EDEDFF;
    text-decoration: none;
    /*display: flex;
    justify-content: space-between;*/
    
  }

  .banner {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
  }

  .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }


  /*seção de lançamentos*/
   /*seção de lançamento*/
  .lancamentos {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    color: #194906;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }

  .lancamentos_titulo {
   margin-bottom: 5px;
  }

  /*cards dos produtos*/
  .cards_lancamentos {
      display: flex;           
      justify-content: center;  
      gap: 35px;                 
      padding: 20px;
      width: 100%;
      margin-top: 5px;
    }

  .card_lancamento {
    background-color: #D8D8F6; 
    width: 20%;                
    min-width: 140px;          
    padding: 15px;
    border-radius: 12px;       
    display: flex;
    flex-direction: column;
    align-items: center;   
    box-sizing: border-box; 
    font-size: 16px;   
    margin-top: 5px;
  }

  /* Ajuste das imagens dentro dos cards */
  .card_lancamento img {
    width: 120px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

 .botao_comprar {
  background-color: #87c961;
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: #194906;
 }

 .botao_comprar img {
  width: 20px;
  /*align-items: flex-start;
  justify-content: center;*/
 }


 /*Rodapé*/
 .rodape {
  width: 100%;
    height: 190px;
    background: #37123C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-sizing: border-box;
 }

 .rodape img {
  
 }
}