body {
  background-color: #D8D8F6;
  margin: 0%;

  /*cabeçalho*/
  .retangulo1 {
    width: 100%;
    height: 120px;
    background: #37123C;
    font-size: 20px;
    display: flex;
    align-items: center;
    /*justify-content: space-around*/
    ;
  }

  .retangulo1 img {
    height: 50px;
    justify-content: flex-end;
  }

/*barra de pesquisa do cabeçalho*/
  input[type="search"] {
    width: 270px;
    height: 30px;
    border-radius: 15px;
    appearance: none;
    background-color: #D8D8F6;
    border: none;
    display: flex;
    align-items: center;
  }

  /*barra de navegação*/
  .retangulo2 {
    width: 100%;
    height: 70px;
    background: #194906;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px
    ;
  }

  .retangulo2 ul {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  .retangulo2 li {
    list-style: none;
    margin: 0 30px;
  }

  .retangulo2 a {
    font-size: 20px;
    color: #EDEDFF;
    text-decoration: none;
    font-family: Quicksand;
    /*display: flex;
    justify-content: space-between;*/
    
  }
}

